.banner-search-overlay{
  @include align-center;
  background-color: hsla(0, 0%, 20%, 0.6);
  width: 60%;
  padding: 2%;
}

#datePicker1{
  border-radius: 5px;
  border-color: $blue;
}

#datePicker2{
  border-radius: 5px;
  border-color: $blue;
}
